{% extends 'base.html'%}

{% block titulo %}
    Eliminar Empleado
{% endblock titulo %}

{% block cuerpo %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar Empleado: {{object.full_name}}</h1>

        <form class="cell" method="POST">{% csrf_token %}

            <div class="callout secondary">
                <h5>¿ Desea eliminar este empleado ?</h5>
                <p>Recuerde que se borran todos los datos de esta persona</p>
                <button type="submit" class="alert button">Confirmar</button>
            </div>
        </form>
    </div>
</div>
{% endblock cuerpo %}

